.div-ano {
  width: 100%;
  display: flex;
  gap: 10px;
}

.div-btn-ano > button {
  width: 120px;
}

.conteudo-dashboard {
  margin-bottom: 40px;
}

.conteudo-dashboard > div{
  padding-left: 10px;
}


