<div class="grid ui-fluid mb-10">
  <div class="col-12 md:col-4">
    <h4>Ano</h4>
    <div class="div-ano field-checkbox pl-10">
      <button
        pButton
        label="Selecionar Todos"
        class="btn-pequeno button-secondary"
        [disabled]="anosSelecionados.length == listaAnosDisponiveis.length"
        (click)="selecionarTodosAnos()"
      ></button>
      <div *ngFor="let ano of listaAnosDisponiveis">
        <p-checkbox
          [inputId]="'{{ano}}'"
          [value]="ano"
          label="{{ano}}"
          [(ngModel)]="anosSelecionados"
          name="ano"
          >
        </p-checkbox>
      </div>
      <span style="font-size: 14px;" *ngIf="listaAnosDisponiveis.length == 0">
        Nenhum ano dispónivel
      </span>
    </div>
  </div>
  <div class="col-12 md:col-4">
    <h4>Funcionários</h4>
    <div class="pl-10">
      <p-multiSelect
        [options]="listaFuncionarioInput"
        [(ngModel)]="funcionariosSelecionados"
        optionLabel="nome"
        [showHeader]="false"
        scrollHeight="300"
        styleClass="input-multiselect-dashboard"
        selectedItemsLabel="Todos os funcionários selecionados!"
        [placeholder]="'Nenhum funcionário selecionado'"
        (onChange)="tratarFuncionariosSelecionados()">
      </p-multiSelect>
    </div>
  </div>
  <div class="col-12 md:col-4">
    <h4>Setores</h4>
    <div class="pl-10">
      <p-multiSelect
        [options]="listaSetorInput"
        [(ngModel)]="setoresSelecionados"
        optionLabel="nome"
        [showHeader]="false"
        scrollHeight="300"
        styleClass="input-multiselect-dashboard"
        selectedItemsLabel="Todos os setores selecionados!"
        [placeholder]="'Nenhum setor selecionado'"
        (onChange)="tratarSetoresSelecionados()">
      </p-multiSelect>
    </div>
  </div>

</div>
<!-- <div class="grid ui-fluid">
  <div class="col-12 md:col-7"></div>
  <button pButton label="Redefenir Filtro" class="col-12 md:col-2"></button>

  <div class="col-12 md:col-1"></div>
  <button pButton label="Buscar" class="col-12 md:col-2"></button>
</div> -->


<hr>
