
@import '../../../../scss/variaveis.scss';

:host {
  * {
    transition: 0.2s ease-out;
    text-decoration: none;
  }
}

.menu-lateral {
  display: flex;
  align-items: center;
  flex-direction: column;

  transition: 0.1s ease-in-out;

  height: 100vh;
  width: 60px;

  padding: 1.5% 0;
  padding-left: 0;

  position: absolute;
  overflow: hidden;
  z-index: 10;

  background-color: white;
  border-right: 1px solid $azul-1;

  &:hover {
    width: 250px;
  }

  .span-item-menu {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 0.9em 0;
    padding-left: 1.2em;
    text-align: left;

    &:hover {
      cursor: pointer;
      filter: opacity(0.8);
      background-color: rgb(245, 245, 245);
    }
  }
}

.back-menu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.300);
}

.conteiner-item-menu {
  margin: 2.6em 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.conteiner-logo-menu {
  height: 8em;
  overflow: hidden;
  margin-bottom: 0;
  display: flex;
  justify-content: start;
  align-items: center;
}

.conteiner-footer-menu {
  position: absolute;
  bottom: 0;
  height: 4em;
  width: 100%;
  padding: 0 0.5em;

}

.conteiner-perfil-menu > h3, h4, p {
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
  padding-bottom: 3px;
}

.conteiner-perfil-menu {
  bottom: 10%;
  width: 100%;
  position: absolute;
  margin: 0;
  // padding: 0 6%;
  text-align: center;
}

.conteiner-perfil-menu > hr {
  width: 90%;
}

.conteiner-perfil-menu > p {
  // padding-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
  color: grey;
  text-align: center;
}

.conteiner-perfil-menu > h4 {
  font-size: 15px;
  font-weight: 400;
}
