<div
class="menu-lateral"
(mouseenter)="mouseEventMenu()"
(mouseleave)="mouseEventMenu()"
draggable="false">
  <a class="conteiner-logo-menu"
  href="https://beltsistemas.com.br/"
  target="_blank">
    <img *ngIf="menuExpandido"
    src="assets/icons/LOGO-PADRAO.png"
    alt="logo-belt"
    width="180px"
    draggable="false"
    style="margin: 0;">
    <img *ngIf="!menuExpandido"
    src="assets/icons/belt-icon.png"
    alt="icone-belt"
    width="50px"
    draggable="false"
    style="margin: 0;">
  </a>
  <div class="conteiner-item-menu">
    <span
    class="span-item-menu ui-fluid"
    [routerLink]="['/dashboard']">
      <i class="pi pi-th-large"></i>
      <p *ngIf="menuExpandido" style="margin: 0;">
        Dashboard
      </p>
    </span>
    <span
    class="span-item-menu ui-fluid"
    [routerLink]="['/']">
      <i class="pi pi-users"></i>
      <p *ngIf="menuExpandido" style="margin: 0;">
        Setores
      </p>
    </span>
  </div>
  <div class="conteiner-perfil-menu" *ngIf="menuExpandido">
    <p>
      Perfil
    </p>
    <hr>
    <h3>{{perfilAtual.nome}}</h3>
    <h4>{{perfilAtual.cargo}}</h4>
  </div>
  <div class="conteiner-perfil-menu" *ngIf="!menuExpandido">
    <p style="font-size: 12px;">Perfil</p>
    <p-avatar
    [label]="perfilAtual.nome[0]"
    icon="pi pi-user"
    pBadge
    size="normal"
    badgeSize="large" />
  </div>
  <div class="conteiner-footer-menu">
    <p-button
    *ngIf="!menuExpandido"
    icon="pi pi-sign-out"
    severity="danger"
    [disabled]="true"
    styleClass="button-exit-menu ui-fluid">
    </p-button>
    <p-button
    *ngIf="menuExpandido"
    label="Sair"
    severity="danger"
    styleClass="button-exit-menu ui-fluid"
    (onClick)="logoutApp()">
    </p-button>
  </div>
</div>
<div
*ngIf="menuExpandido"
class="back-menu"></div>
